<h1>My tasks</h1>
<div>
  <% @tasks.each do |task| %>
    <% if task.completed? %>
      <p>
      <%= image_tag ("ic_check_box_24px"), width: 20 %>
      <%= link_to task.title, task_path(task.id) %>
      </p>
    <% else %>
      <p>
      <%= image_tag ("ic_check_box_outline_blank_24px"), width: 20 %>
      <%= link_to task.title, task_path(task.id) %>
      </p>
    <% end %>
  <% end %>
</div>
<%= image_tag ("ic_add_24px"), width: 20 %>
<%= link_to "Add a new task", tasks_new_path %>
